.archive {
  margin-bottom: 100px;

  .title {
    margin-bottom: 30px;
  }

  .name {
    margin: 15px 0;
  }

  .counter {
    color: lighten($theme-color, 10%);
  }

  .year {
    margin: 15px 0;
    line-height: 30px;
  }

  .post {
    padding: 3px 20px;
    border-left: 1px solid $grey-light;
    transition: all .3s;

    .post-time {
      margin-right: 10px;
      color: $grey-deep;
    }

    .post-title {
      color: $theme-color;
    }

    &:hover {
      border-left: 3px solid $theme-color;
      transform: translateX(4px);

      .post-title {
        color: lighten($theme-color, 15%);
      }
    }
  }
}
