// =======================================
// Mixins style
// =======================================
@mixin min-screen($min-width: $global-body-width) {
   @media screen and (min-width: $min-width) {
     @content;
   }
}

@mixin max-screen($max-width: $global-body-width) {
   @media screen and (max-width: $max-width) {
     @content;
   }
}

@mixin block-full() {
  display: block;
  width: 100%;
  height: 100%;
}

@mixin size ($width, $height) {
  width: $width;
  height: $height;
}

@mixin clearfix() {
  &:before, &:after {
    display: table;
    content: '';
  }
  &:after {
    clear: both;
  }
}