code, pre {
  padding: 7px;
  font-family: $font-family-code;
  font-size: $font-size-smaller;
  background-color: rgba(lighten($theme-color, 40%), .1);
}

code {
  padding: 2px 5px;
  color: lighten($theme-color, 10%);
  background: rgba(lighten($theme-color, 30%), 0.1);
  border-radius: 3px;
}

.highlight {
  margin: 10px 0;
  border-radius: 5px;
  overflow-x: auto;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .2), -1px -1px 2px rgba(0, 0, 0, .2);
  table {
    position: relative;
    font-size: $font-size-small;
    &:after {
      content: 'Code';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      padding: 2px 7px;
      font-weight: $font-weight-bold;
      color: $white;
      background-color: lighten($theme-color, 10%);
    }
  }

  @each $sign, $text in $code-type-list {
    &.#{$sign} > table::after {
      content: $text;
    }

    &.#{$sign} > figcaption > span::after {
      content: ' · ' + $text;
    }

    &.#{$sign} figcaption + table {
      &::after {
        display: none;
      }
    }
  }

  .gutter {
    width: 10px;
    color: $grey-deep;
    pre {
      margin: 0;
      padding: 35px 0 10px;
      text-align: center;
    }
    .line {
      width: 28px;
    }
  }

  .line {
    display: block;
    height: 24px;
    line-height: 24px;
  }

  table, tr, td {
    margin: 0;
    padding: 0;
    width: 100%;
    border-collapse: collapse;
  }

  .code {
    pre {
      margin: 0;
      padding: 35px 8px 10px;
    }

    .comment,
    .quote {
      color: map-get($code-highlight-color, comment);
    }

    .keyword,
    .selector-tag,
    .addition {
      color: map-get($code-highlight-color, keyword);
    }

    .number,
    .string,
    .meta .meta-string,
    .literal,
    .doctag,
    .regexp {
      color: map-get($code-highlight-color, number);
    }

    .title,
    .section,
    .name,
    .selector-id,
    .selector-class {
      color: map-get($code-highlight-color, title);
    }

    .attribute,
    .attr,
    .variable,
    .template-variable,
    .class .title,
    .type {
      color: map-get($code-highlight-color, attribute);
    }

    .symbol,
    .bullet,
    .subst,
    .meta,
    .meta .keyword,
    .selector-attr,
    .selector-pseudo,
    .link {
      color: map-get($code-highlight-color, symbol);
    }

    .built_in,
    .deletion {
      color: map-get($code-highlight-color, built_in);
    }
  }
  
  br {
    display: none !important;
  }
}
