.highlight
  margin: 10px 0
  border-radius: 5px
  overflow-x: auto
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), -1px -1px 2px rgba(0, 0, 0, 0.2)

.gutter
  font-size: 0.875rem

  .line
    display: inline-block
    padding: 0 0.5rem

.code
  font-size: 0.875rem

  pre
    padding: 0.25rem 0

  .line
    display: inline-block
    padding: 0 0.5rem

  .subst
    color: #2f3337

  .comment
    color: #656e77

  .keyword, .selector-tag, .meta .keyword, .doctag, .section
    color: #015692

  .attr
    color: #015692

  .attribute
    color: #803378

  .name, .type, .number, .selector-id, .quote, .template-tag
    color: #b75501

  .selector-class
    color: #015692

  .string, .regexp, .symbol, .variable, .template-variable, .link, .selector-attr
    color: #54790d

  .meta, .selector-pseudo
    color: #015692

  .built_in, .title, .literal
    color: #b75501

  .bullet, .code
    color: #535a60

  .meta .string
    color: #54790d

  .deletion
    color: #c02d2e

  .addition
    color: #2f6f44

  .emphasis
    font-style: italic

  .strong
    font-weight: bold

  .formula, .operator, .params, .property, .punctuation, .tag
    /* purposely ignored */