<!doctype html>
<html>
  <%- partial('_partial/head') %>
  <body class="relative h-screen bg-gray-100">
    <div class="h-1 bg-gray-900"></div>
    <main><%- body %></main>
    <%- partial('_partial/footer') %>
  </body>
</html>
