<!doctype html>
<html>
  <%- partial('_partial/head') %>
  <body class="relative pb-8 min-h-screen border-t-2 border-black">
    <%- partial('_partial/header') %>
    <main>
      <div class="mx-auto max-w-3xl"><%- body %></div>
    </main>
    <%- partial('_partial/footer') %>
  </body>
</html>
