<article class="post">
  <h1 class="title">
    <%= page.title %>
  </h1>

  <div class="info">
    <span class="date"><%= date(page.date, 'YYYY-MM-DD') %></span>
  </div>

  <div class="content">
    <%- page.content %>
  </div>

  <% if (page.tags) { %>
  <div class="tags">
    <%  page.tags.each(function(tag) { %>
    <%- link_to(tag.path, tag.name, { class: 'tag' }) %>
    <% }) %>
  </div>
  <% } %>
</article>