<div class="py-8 post">
  <h1 class="text-3xl font-semibold mb-1"><%= page.title %></h1>
  <div class="flex items-center mb-4 text-sm">
    <span class="pl-2 text-slate-400"><%= date(page.date, 'YYYY-MM-DD') %></span>
    <span class="mx-4">|</span>
    <% if (page.tags) { %>
    <div class="flex items-center">
      <% page.tags.each(function(tag) { %> <%- link_to(tag.path, '#' + tag.name,
      { class: 'mr-2 text-slate-400' }) %> <% }) %>
    </div>
    <% } %>
  </div>
  <article class="post-content"><%- page.content %></article>
</div>
