<div class="container mx-auto">
  <h1 class="text-lg font-semibold mb-0.5"><%= page.title %></h1>
  <div class="flex items-center mb-4 text-sm">
    <div><%= date(page.date, 'YYYY-MM-DD') %></div>
    <div class="mx-4">|</div>
    <% if (page.tags) { %>
    <ul class="flex items-center">
      <li>
        <% page.tags.each(function(tag) { %> <%- link_to(tag.path, '#' +
        tag.name, { class: 'tag' }) %> <% }) %>
      </li>
    </ul>
    <% } %>
  </div>
  <article class="mints-post"><%- page.content %></article>
</div>
