// =======================================
// Base style
// =======================================

* {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}

html {
  font-size: $font-size-base;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-base;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
  color: $global-font-color;
  background-color: $global-bg-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  scroll-behavior: smooth;
  border-top: 4px solid $theme-color;
}

@include max-screen() {
  body {
    border-top: none;
  }
}


::selection {
  background-color: $global-selection-bg-color;
  color: $global-selection-color;
}

::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: lighten($theme-color, 10%);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: rgba(211, 211, 211, .4);
  border-radius: 2px;
}

@each $header, $size in $global-headings {
  #{$header} {
    font-size: $size;
    font-family: $font-family-serif;
  }
}

p {
  margin: 0 0 10px 0;
}

a {  
  display: inline-block;
  color: $global-link-color;
  text-decoration: none;
  word-wrap: break-word;
  vertical-align: middle;
  transition: color .3s;
  &:hover {
    color: $global-link-hover-color;
  }
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

ul {
  list-style: none;
  padding: 0;
}

hr {
  margin: 20px 0;
  height: 3px;
  border: none;
  background-color: $grey;
  background-image: repeating-linear-gradient(
    -45deg,
    white,
    white 4px,
    transparent 4px,
    transparent 8px
  );
}

.container {
  position: relative;
  transition: transform .3s;
  &.slide-left {
    height: 100vh;
    box-shadow: 2px 0 6px rgba(0,0,0,.2);
    transform: translate3d(-180px, 0, 0);
    overflow: hidden;
  }
}

.layout {
  margin: 0 auto;
  width: 960px;
  padding-top: 30px;
}

@include max-screen() {
  .layout {
    width: auto;
    padding: 50px 10px 0;
  }
}
