@import "./common/font.scss";
@import "./common/variables.scss";
@import "./common/mixins";
@import "./common/normalize";

body {
  font-size: $font-size-base;
  font-family: $font-family-base;
  color: $global-font-color;
  line-height: $line-height-base;
  background-color: $global-bg-color;
  border-top: 5px solid $theme-color;

  @include mobile() {
    border-top: none;
    font-siz: $font-size-small;
  }

  &.offset {
    transition: transform 0.3s;
    transform: translateX(-$global-menu-width);
    box-shadow: 1px 0 6px rgba(0, 0, 0, 0.1);
  }
}

@each $header, $size in $global-headings {
  #{$header} {
    font-size: $size;
    font-family: $font-family-serif;
  }

  @include mobile() {
    #{$header} {
      font-size: $size - 2px;
    }
  }
}

a {
  text-decoration: none;
  color: $global-link-color;
  transition: color 0.3s;

  &:hover {
    color: $global-link-hover-color;
  }
}

.layout {
  margin: 0 auto;
  width: $global-body-width;

  @include mobile() {
    margin: 0;
    width: 100%;
  }
}

@import "./includes/nav";
@import "./includes/footer";
@import "./includes/tagcloud";
@import "./includes/archive";
@import "./includes/post";
@import "./includes/paginate";
