<div class="nav-bar">
  <div class="title">
    <%- link_to('.', config.title) %>
  </div>
  <div class="menu-controller">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

<div class="menu">
  <% for (var i in theme.menu) { %>
  <li>
    <%- link_to(theme.menu[i], __(i)) %>
  </li>
  <% } %>
</div>