// Thmem Color
// =======================================
$theme-color: #1F3696 !default;

// Colors
// =======================================
$black-light: #555 !default;
$black: #333 !default;
$black-deep: #222 !default;
$grey-light: #d7d7d7 !default;
$grey: #ccc !default;
$grey-deep: #b7b7b7 !default;
$white: #fefefe !default;

// Font
// =======================================
$font-family-base: "Long Cang", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif: "Long Cang", Athelas, STHeiti, Microsoft Yahei, serif !default;
$font-family-code: Menlo, monospace !default;

$font-size-base: 16px !default;
$font-size-large: $font-size-base + 2px !default;
$font-size-larger: $font-size-base + 4px !default;
$font-size-small: $font-size-base - 2px !default;
$font-size-smaller: $font-size-base - 4px !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 600 !default;

$line-height-base: 2 !default;

// Global
// =======================================
$global-body-width: 960px !default;
$global-menu-width: 160px !default;
$global-font-color: $black-light !default;
$global-bg-color: $white !default;
$global-link-color: $black-light !default;
$global-link-hover-color: darken($theme-color, 10%) !default;

// Headings font size of the site.
$global-headings: (
  h1: 22px,
  h2: 20px,
  h3: 18px,
  h4: 16px,
  h5: 14px,
  h6: 12px,
) !default;

// Z-index master list
$zindex-bottom: -1 !default;
$zindex-1: 100 !default;
$zindex-2: 110 !default;
$zindex-3: 120 !default;
$zindex-4: 130 !default;
$zindex-5: 140 !default;
$zindex-max: 999 !default;

// Code type
// =======================================
$code-type-list: (
  html: "HTML",
  js: "JavaScript",
  css: "CSS",
  bash: "Bash",
) !default;

// Color of code highlight, solarized.
// =======================================
$code-highlight-color: (
  comment: #93a1a1,
  keyword: #859900,
  number: #2aa198,
  title: #268bd2,
  attribute: #b58900,
  symbol: #cb4b16,
  built_in: #dc322f,
) !default;
