// =======================================
// Archive style
// =======================================

.archive {
  margin-bottom: 100px;
  .archive-title {
    margin-bottom: 30px;
    .archive-name {
      margin: 15px 0;
      font-weight: $font-weight-normal;
      font-size: $font-size-headings-base + $font-size-headings-step * 2;
      font-family: $font-family-serif;
    }
    .archive-post-counter {
      color: lighten($theme-color, 10%);
    }
  }

  .archive-year {
    margin: 15px 0;
    line-height: 30px;
    font-weight: $font-weight-normal;
    font-size: $font-size-headings-base + $font-size-headings-step * 2;
    font-family: $font-family-serif;
  }

  .archive-post {
    padding: 3px 20px;
    border-left: 1px solid $grey-light;
    transition: all .3s;
    .archive-post-time {
      margin-right: 10px;
      color: $grey-deep;
      vertical-align: middle;
    }
    .archive-post-title {
      color: $theme-color;
      vertical-align: middle;
    }
    &:hover {
      border-left: 3px solid $theme-color;
      transform: translateX(4px);
      .archive-post-title {
        color: lighten($theme-color, 15%);
      }
    }
  }

  @include max-screen() {
    .archive-title {
      .archive-name {
        font-size: $font-size-headings-base;
      }
    }
    .archive-year {
      font-size: $font-size-headings-base;
    }
    .archive-post {
      padding: 5px 10px;
      line-height: 1.5;
      .archive-post-time {
        display: block;
        font-size: 13px;
      }
    }
  }
}
