// =======================================
// Footer style
// =======================================

.footer {
  height: 150px;
  text-align: center;
  .footer-links {
    a {
      font-size: 40px;
      & + a {
        margin-left: 10px;
      }
      &:hover{
        color: lighten($theme-color, 10%);
      }
    }
  }
  .footer-copy {
    font-family: $font-family-serif;
    a {
      color: lighten($theme-color, 10%);
      vertical-align: top;
      &:hover {
        color: lighten($theme-color, 30%);
      }
    }
    p {
      margin: 0;
    }
  }
}
  
   
