@font-face {
  font-family: "iconfont";
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont') format('svg');
}

.iconfont {
  display: inline-block;
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-next:before {
  content: "\e60e";
}
.icon-weibo:before {
  content: "\e616";
}
.icon-prev:before {
  content: "\e619";
}
.icon-github:before {
  content: "\e719";
}
.icon-camera:before {
  content: "\e600";
}
.icon-home:before {
  content: "\e601";
}
.icon-notice:before {
  content: "\e605";
}
.icon-snow:before {
  content: "\e692";
}
.icon-categories:before {
  content: "\e603";
}
.icon-tags:before {
  content: "\e69f";
}
.icon-rili:before {
  content: "\e64d";
}
.icon-about:before {
  content: "\e60c";
}
.icon-archive:before {
  content: "\e6f9";
}
.icon-envelope:before {
  content: "\e6c9";
}

