// =======================================
// Nav style
// =======================================

.menu {
  position: fixed;
  top: 50px;
  left: 20px;
  margin: 0;
  padding: 0;
  width: 40px;
  z-index: $zindex-5;
  .menu-item {
    position: relative;
    height: 40px;
    line-height: 40px;
    a {
      @include block-full();
      color: $theme-color;
      text-align: center;
      font-size: 20px;
      &:hover {
        color: lighten($theme-color, 30%);
      }
      &:hover + span {
        opacity: 1;
      }
    }
    span {
      position: absolute;
      top: 50%;
      right: -130px;
      margin-top: -15px;
      @include size(100px, 30px);
      line-height: 30px;
      color: #fff;
      text-align: center;
      background: $theme-color;
      border-radius: 4px;
      opacity: 0;
      transition: opacity 0.3s;
      &:before {
        content: '';
        position: absolute;
        left: -20px;
        top: 50%;
        margin-top: -5px;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 20px solid $theme-color;
      }
    }
  }
}

@include max-screen() {
  .menu {
    display: none;
  }
}


