// =======================================
// Pagination style
// =======================================

.pagination, .post-nav {
  margin: 30px 0;
  @include clearfix();
  .prev, .next {
    font-weight: $font-weight-bold;
    transition-property: transform;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
  }
  .prev {
    float: left;
    margin-left: 6px;
    &:hover {
      color: $theme-color;
      transform: translateX(-4px);
    }
  }
  .next {
    float: right;
    margin-right: 6px;
    &:hover {
      color: $theme-color;
      transform: translateX(4px);
    }
  }
  @include max-screen() {
    .nav-default {
      display: none;
    }
  }
}
