// =======================================
// Post style
// =======================================

@import '_post/_code';

.post {
  position: relative;
  padding: 0 5px;
  overflow: hidden;
  .post-title {
    a {
      position: relative;
      &:before {
        position: absolute;
        left: 0;
        bottom: 0;
        content: '';
        display: block;
        width: 0;
        height: 3px;
        background: lighten($theme-color, 10%);
        transition: width .5s;
      }
      &:hover {
        color: lighten($theme-color, 10%);
        &:before {
          width: 100%;
        }
      }
    }
  }

  .post-pub {
    font-size: 0;
    .post-date {
      display: inline-block;
      margin-right: 10px;
      font-size: $font-size-base;
      vertical-align: middle;
    }
    .post-cat {
      display: inline-block;
      font-size: $font-size-base;
      vertical-align: middle;
      a.cat {
        color: lighten($theme-color, 10%);
        &:hover {
          color: lighten($theme-color, 20%);
        }
      }
    }
  }
  .post-content {
    margin-top: 20px;
    blockquote {
      margin: 20px 0;
      padding: 10px 20px;
      position: relative;
      color: rgba($theme-color, .8);
      background-color: lighten($theme-color, 90%);
      border-left: 3px solid $theme-color;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
      p {
        margin: 0;
      }

    }
    #more {
      display: none;
    }
    &>table {
      max-width: 100%;
      margin: 10px 0;
      border-spacing: 0;
      box-shadow: 2px 2px 3px rgba(0, 0, 0, .2), -2px -2px 3px rgba(0, 0, 0, .2);
      thead {
        color: $white;
        background: lighten($theme-color, 20%);
      }
      th,td {
        padding: 5px 15px;
        text-align: left;
      }
    }
    ul {
      list-style: disc;
      padding: 0 0 0 1em;
    }
    ol {
      padding: 0 0 0 1em;
    }
    img {
      box-shadow: 1px 1px 10px rgba(0,0,0,.2);
    }
    a {
      color: #c1403d;
    }
  }
  .read-more {
    display: block;
    font-size: $font-size-large;
    color: $theme-color;
    transition: transform 0.3s;
    &:hover {
      transform: translateX(10px);
    }
  }
  .post-tags {
    margin-top: 20px;
    padding: 10px 0;
    border-top: 1px dashed rgba($theme-color, 0.4);
    .tag {
      margin-right: 10px;
      color: lighten($theme-color, 15%);
    }
    i {
      margin-right: 4px;
    }
  }
}
