// =======================================
// Tags style
// =======================================

.tags {
  margin: 2em 0 3em;
  text-align: center;
  font-family: $font-family-serif;

  .tag-title {
    display: inline-block;
    font-size: 18px;
    color: $theme-color;
    border-bottom: 2px solid $theme-color;
  }

  .tag-cloud {
    margin: 10px 0;

    a {
      display: inline-block;
      position: relative;
      margin: 5px 10px;
      word-wrap: break-word;
      transition-duration: 0.2s;
      transition-property: transform;
      transition-timing-function: ease-out;

      &:active,
      &:focus,
      &:hover {
        color: $theme-color;
        transform: scale(1.1);
      }
    }
  }
}